<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	    <setting name="jdbcTypeForNull" value="NULL" /><!-- 이부분입니다 -->
	</settings>
	<typeAliases>
		<typeAlias type="com.example.demo.product.vo.Product" alias="Product"/>

		 <typeAlias type="com.example.demo.customer.vo.Customer" alias="Customer"/>
		<typeAlias type="com.example.demo.order.vo.OrderInfo" alias="OrderInfo"/>
		<typeAlias type="com.example.demo.order.vo.OrderLine" alias="OrderLine"/>
		
	</typeAliases>	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatisConfig/ProductMapper.xml"/>
<!-- 
    <mapper resource="CustomerMapper.xml"/>
    <mapper resource="OrderMapper.xml"/> 
-->
  </mappers>
</configuration>