@charset "UTF-8"; 
@import url("base.css");


footer{
            background-color:#282828;
            color: white;
        }
footer>aside a{
            color:white;
        }
footer>aside>ul{
            list-style-type: none;
            padding-left: 0px;
        }
footer>aside>ul>li{
            display: inline-block;
        }